@font-face {
    font-family: AstroGlow;
    src: url(../../assets/fonts/13_Misa.TTF);
}

.SignUpPage {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden; 
}

.split-screen {
    display: flex;
    flex: 1; 
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    background: linear-gradient(to bottom, black 0%, black 50%, rgb(50, 0, 159) 100%); /* Gradient with more black in the middle */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding-top:    55px; 
}

.left-side-header {
    color: white;
    font-size: 32px;
    font-weight: 500;
}

.left-side-sub-title {
    color: white;
    font-size: 17px;
    margin-top: 1%;
    font-weight: 400;
}


.full-size-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side {
    background-color: #ffffff; 
    padding: 20px; 
}

.signup-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #0056b3;
}

.google-login {
    margin-top: 20px;
    text-align: center;
}

.google-login a {
    color: #4285f4;
    text-decoration: none;
    font-weight: bold;
}

.google-login a:hover {
    text-decoration: underline;
}

.login-link {
    margin-top: 20px;
    text-align: center;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.already{
    color: black;
}

.astro-glow-font {
    font-family: AstroGlow;
    font-weight: 100; 
    color: #c55af0;
    animation: flicker 2s infinite alternate;
}

.astro-pic {
    margin-top: 20px;
}

@keyframes flicker {
    0% {
        opacity: 1;
        color: #5a5af0; 
    }
    50% {
        opacity: 0.5;
        color: #0000ff; 


    }
    100% {
        opacity: 1;
        color: #5a5af0; 

    }
}